<style>
    #emblem {
        position: fixed;
        left: 0px;
        top: 15px;
        -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
        filter: drop-shadow(5px 5px 5px #222);
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    }
</style>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Masters<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Configs/Edit/1">Configuration</a></li> 
                        <li><a href="~/Properties/Index">Add Property</a></li>

                        <li><a href="~/InvItems/Index">Add Inventory Items</a></li>
                        <li><a href="~/Periods">Periods</a></li>
                        <li><a href="~/Citizens">Citizen</a></li>
                        <li><a href="~/Ledgers">Ledgers</a></li>
                        <li><a href="~/SubLedgers">Sub Ledgers</a></li>
                        <li><a href="~/LedgerDetails">Ledger Details</a></li>
                        <li><a href="~/SubLedgerTypes">SubLedger Types</a></li>                        
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Transactions<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Form4">Reciept</a></li>
                        <li><a href="~/Vouchers">Voucher</a></li>
                        <li><a href="~/PropertyBookings">Hall Booking</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Registers<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Audits">Audits</a></li>

                        <li><a href="~/Meetings/Index/?rt=1">Meetings</a></li>
                        <li><a href="~/Meetings/Index/?rt=8">Gram Sabha</a></li>


                        <li><a href="~/IllegalConstructions/Index/?rt=4">Illegal Constructions</a></li>
                        <li><a href="~/Inwards/Index/?rt=2">Inward</a></li>
                        <li><a href="~/Inwards/Index/?rt=9">Govt Dept Reference</a></li>
                        <li><a href="~/Inwards/Index/?rt=10">Register Of Birth</a></li>
                        <li><a href="~/Outwards/Index/?rt=3">Outward</a></li>
                        <li><a href="~/Outwards/Index/?rt=11">Register Of Death</a></li>

                        <li><a href="~/IllegalConstructions/Index/?rt=6">Public Grievance</a></li>
                        <li><a href="~/IllegalConstructions/Index/?rt=7">Court Matters</a></li>
                        <li><a href="~/Nocs/Index/?rt=12">Certificate Issued</a></li>
                        <li><a href="~/Nocs/Index/?rt=13">NOC Electric Connection</a></li>
                        <li><a href="~/Nocs/Index/?rt=14">NOC Water</a></li>
                        <li><a href="~/Nocs/Index/?rt=15">NOC Trade</a></li>
                        <li><a href="~/Nocs/Index/?rt=16">NOC Bar</a></li>




                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Demands<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Demands/Create">Add Demand</a></li>
                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Reports/Form1RptRq">Form1</a></li>
                        <li><a href="~/Reports/Form2RptRq">Form2</a></li>
                        <li><a href="~/Reports/Form3RptRq">Form3</a></li>
                        <li><a href="~/Reports/Form7RptRq"> Form7</a></li>
                        <li><a href="~/Reports/Form8RptRq"> Form8</a></li>
                        <li><a href="~/Reports/Form10RptRq">Form10</a></li>                        
                        <li><a href="~/Reports/RVRptRq/102">Balwadi Rent</a></li>
                        <li><a href="~/Reports/RVRptRq/123">Sales Tax</a></li>
                        <li><a href="~/Reports/RVRptRq/27">Income Tax</a></li>
                        <li><a href="~/Reports/RVRptRq/28">Royalty Register</a></li>
                        <li><a href="~/Reports/RVRptRq/26">Security Deposit</a></li>
                        <li><a href="~/Reports/RVRptRq/25">E.M.D Deposit</a></li>
                        <li><a href="~/Reports/RVRptRq/134">RTI</a></li>
                        <li><a href="~/Reports/RVRptRq/130">Income Certificate</a></li>
                        <li><a href="~/Reports/RVRptRq/132">Residence Certificate</a></li>
                        <li><a href="~/Reports/RVRptRq/131">Divergence Certificate</a></li>
                        <li><a href="~/Reports/RVRptRq/133">Birth/Death Certificate</a></li>
                        <li><a href="~/Reports/RVRptRq/129">Misc Challans</a></li>
                        <li><a href="~/Reports/RVRptRq/135">Gst</a></li>
                        <li><a href="~/Reports/RVRptRq/87">Labour Cess</a></li>
                        <li><a href="~/Reports/RVRptRq">Form6</a></li>
                    
                        <li><a href="~/Reports/GenericRptRq">Generic Register</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inv(R)<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/InOutRegsRecpts/Index/?rt=17">Stationary</a></li>
                        <li><a href="~/InOutRegsRecpts/Index/?rt=19">DeadStock</a></li>
                        <li><a href="~/InOutRegsRecpts/Index/?rt=20">Street Light Articles</a></li>
                        <li><a href="~/InOutRegsRecpts/Index/?rt=18">Stamp</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inv(I)<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/InOutRegsIssues/Index/?rt=17">Stationary</a></li>
                        <li><a href="~/InOutRegsIssues/Index/?rt=19">DeadStock</a></li>
                        <li><a href="~/InOutRegsIssues/Index/?rt=20">Street Light Articles</a></li>
                        <li><a href="~/InOutRegsIssues/Index/?rt=18">Stamp</a></li>
                    </ul>
                </li>

                    </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
